#include "wx/msw/wx.rc"

appIcon     ICON     "wx/msw/std.ico"
usbNo       RCDATA   "usbUnmount.png"
usbYes      RCDATA   "usbMount.png"
ledOff      RCDATA   "ledBlack.png"
ledGreen    RCDATA   "ledGreenGreener.png"
ledYellow   RCDATA   "ledYellowDarker.png"
